doctype html
html
	head
		title Up

		link(rel = "stylesheet", type = "text/css", href = "main.css")
	body
		main
			h1 Check, is server up or down

			//- Prevent redirect
			form#check(action = "javascript:void(0)")
				input(type = "text", name = "url")
				input(type = "submit", value = "Check")

			script(type = "text/javascript", src = "main.js")
