doctype html
html
	head
		title Up

		//- Styles
		link(rel = "stylesheet", type = "text/css", href = "css/main.css")
		link(rel = "stylesheet", type = "text/css", href = "css/loader.css")
	body
		main
			.back-rect
				form#check(action = "javascript:void(0)")
					h1 IS HOST UP OR DOWN?
					.loader
					input(type = "text", name = "url")
					input(type = "submit", value = "Check")

		script(type = "text/javascript", src = "main.js")
